/* TABLE OF CONTENTS

    1. Cards
        1.1 Card Styling
        1.2 Card Typography
    2. Grids
    3. Responsive Design
      3.1 Tablet
      3.2 Mobile

*/

/* -----------
    1. Cards
   ----------- */

/* 1.1 Card Styling */

.blog-card {
  display: inline-block;
  margin: 2rem 1rem 1.5rem;
  background-color: rgb(253, 253, 253);
  text-align: left;
  border-radius: 0.5%;
  overflow: hidden;
  border: solid 0.01rem rgb(231, 231, 231);
  position: relative;

  max-width: 20rem;
  min-width: 17.5rem;
  max-height: 100%;
  height: 23rem;

  box-shadow: 0rem 0.01rem 0.3rem -0.125rem rgb(202, 202, 202);
  top: 0rem;
  transition: all 0.3s ease-in-out;
}

.card-info {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  vertical-align: middle;
  align-items: center;
}

.card-info p,
.card-info time {
  font-size: 0.875rem;
  padding-right: 0.25rem;
  top: 0rem;
  padding-bottom: 0rem;
  margin: 0;
}

.blog-card img {
  max-width: 100%;
  object-fit: cover;

  height: 12rem;
  border-radius: 0.5% 0.5% 0% 0%;
  object-position: 50% 50%;
}

.card-content {
  margin: 0.4rem 1rem;
}

.blog-card:hover {
  top: -8px;
  box-shadow: 0.4rem 0.5rem 0.8rem 0.1rem rgb(190, 190, 190);
}

/* 1.2 Card Typography */

.blog-card h3,
.blog-card h2 {
  font-size: 1.1rem;
  padding: 0rem;
  margin: 0.3rem 0rem;
}

.blog-card p {
  margin: 0.3rem 0rem;
}

.theory-card {
  color: rgb(224, 67, 67);
}

.visualization-card {
  color: rgb(64, 96, 201);
}

.website-card {
  color: rgb(201, 64, 201);
}

/* -----------
    2. Grids 
   ----------- */

.blog-post-grid,
.data-vis-grid,
.data-vis-grid-homepage,
.blog-post-grid-homepage {
  width: 100%;
  max-width: 80rem;
  margin: 0 10;
  display: inline-grid;
  grid-auto-rows: minmax(100vh, autofit);

  width: 100%;
  grid-gap: 0% 0%;

  text-align: center;

  overflow-x: auto;
}

.blog-post-grid,
.data-vis-grid {
  grid-template-columns: 1fr 1fr 1fr;
}

.blog-post-grid-homepage,
.data-vis-grid-homepage {
  grid-template-columns: 1fr 1fr;
}

.latest-info {
  margin-left: 2rem;
  margin-right: 2rem;

  width: 20rem;
}

#newestDataVis,
#newestBlogPosts {
  display: inline-block;
}

/* ------------------------
    3. Responsive Design
   ------------------------ */

/* 3.1 Tablet - Based on the iPad */

@media only screen and (max-width: 1024px) {
  .blog-post-grid,
  .data-vis-grid {
    grid-template-columns: 1fr 1fr;
    margin: 0rem;
  }

  .card-info p,
  .card-info time {
    font-size: 0.85rem;
  }
}

/* 3.2 Mobile - Based on iPhone X and other popular/similair devices */

@media only screen and (max-width: 765px) {
  .blog-card h3,
  .blog-card h2 {
    margin: 0.5rem 0.2rem 0.5rem 0rem;
    font-size: 1.15rem;
    line-height: 1.35rem;

    text-align: left;
  }

  .card-info p,
  .card-info time {
    font-size: 0.8rem;
  }

  .blog-card {
    min-width: 12rem;
    height: 25rem;
  }

  .blog-post-grid,
  .data-vis-grid,
  .blog-post-grid-homepage,
  .data-vis-grid-homepage {
    grid-template-columns: 1fr;
    margin-left: 0rem;
    padding-left: 0rem;
    text-align: center;
  }
}
