/* TABLE OF CONTENTS

    1. Card
        1.2 Card Styling
        1.1 Card Typography

*/

/* -----------
    1. CARD
   ----------- */

/* 1.2 CARD STYLING */

.blog-card {
  display: inline-block;
  margin: 2rem 1rem 1.5rem;
  background-color: rgb(253, 253, 253);
  text-align: left;
  border-radius: 0.5%;
  overflow: hidden;
  border: solid 0.01rem rgb(231, 231, 231);
  position: relative;

  max-width: 20rem;
  min-width: 17.5rem;
  max-height: 100%;
  height: 23rem;

  box-shadow: 0rem 0.01rem 0.3rem -0.125rem rgb(202, 202, 202);
  top: 0rem;
  transition: all 0.3s ease-in-out;
}

.blog-card-info {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  vertical-align: middle;
  align-items: center;
}

.blog-card-info p,
.blog-card-info time {
  font-size: 0.875rem;
  padding-right: 0.7rem;
  top: 0rem;
}

.blog-card-info time {
  padding-left: 0.7rem;
}

.blog-card img {
  max-width: 100%;
  object-fit: cover;

  height: 12rem;
  border-radius: 0.5% 0.5% 0% 0%;
  object-position: 50% 50%;
}

.blog-card-content {
  margin: 0.4rem 1rem;
}

.blog-card:hover {
  top: -8px;
  box-shadow: 0.4rem 0.5rem 0.8rem 0.1rem rgb(190, 190, 190);
}

/* 1.2 CARD TYPOGRAPHY */

.blog-card h3,
.blog-card h2 {
  font-size: 1.25rem;
  padding: 0rem;
  margin: 0.3rem 0rem;
}

.blog-card p {
  margin: 0.3rem 0rem;
}

.theory-blog {
  color: rgb(224, 67, 67);
}

.visualization-blog {
  color: rgb(64, 96, 201);
}

.website-blog {
  color: rgb(201, 64, 201);
}

/* -----------
    2. GRIDS 
   ----------- */

.blog-post-grid,
.data-vis-grid {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  display: inline-grid;
  grid-auto-rows: minmax(100vh, autofit);

  width: 100%;
  grid-template-columns: 1fr;
  grid-gap: 0% 0%;

  text-align: center;
}

.three-grid {
  grid-template-columns: 1fr 1fr 1fr;
}

/* 2.1 BLOG GRID */

.latest-info {
  margin-left: 2rem;
  margin-right: 2rem;

  width: 20rem;
}

#newestDataVis,
#newestBlogPosts {
  display: inline-block;
}

#newestDataVis .latest-info,
#newestBlogPosts .latest-info {
  display: flex;
}

#newestDataVis .latest-info a,
#newestBlogPosts .latest-info a {
  margin-top: auto;
}

/* ------------------------
    3. RESPONSIVE DESIGN 
   ------------------------ */

/* 3.1 TABLET - Based on the iPad */

@media only screen and (max-width: 1024px) {
  .blog-post-grid,
  .data-vis-grid {
    grid-template-columns: 1fr 1fr;
    margin-left: 0rem;
    margin-right: 0rem;
  }

  #newestDataVis .homepage,
  #newestBlogPosts .homepage {
    grid-template-columns: 1fr;
  }

  .social-media-grid {
    grid-template-columns: 1fr;
  }

  .photos {
    column-count: 3;
  }
}

/* 3.2 MOBILE - Based on iPhone X and other popular/similair devices */

@media only screen and (max-width: 765px) {
  .blog-card h3,
  .blog-card h2,
  .portfolio-card h3,
  .portfolio-card h2 {
    margin: 0.5rem 0.2rem 0.3rem 0.4rem;
    font-size: 1.25rem;
    text-align: left;
  }

  .blog-card {
    min-width: 12rem;

    height: 25rem;
  }

  .blog-post-grid,
  .data-vis-grid {
    grid-template-columns: 1fr;
  }

  .portfolio-card {
    max-width: 20rem;
    min-width: 17.5rem;
    max-height: 100%;

    transition: all 0.25s ease-in-out;
    border: solid 0.05rem rgb(204, 204, 204);
  }

  .portfolio-card img {
    height: 10rem;
    border-radius: 2% 2% 0% 0%;
    object-position: 50% 20%;
    border-bottom: solid 2px rgb(70, 70, 70);
  }

  .portfolio-card header {
    margin-top: 1em;
    max-width: 100%;
  }

  .portfolio-card h3,
  .portfolio-card h2 {
    padding-top: 10rem;
  }

  .portfolio-card p {
    margin: 0.5rem 0.2rem 0.5rem 0.5rem;
  }

  .blog-post-grid {
    grid-template-columns: 1fr;
    margin-left: 0rem;
    padding-left: 0rem;
  }

  .photos {
    column-count: 2;
  }

  .social-media-card a {
    display: block;
    flex-direction: column;
    text-align: center;
  }

  .social-media-card .social-media-card-info {
    padding-left: 0rem;
  }

  .social-media-grid {
    text-align: center;
    padding-left: 0rem;
  }

  .social-media-card-info h3 {
    padding-left: 0rem;
  }

  .social-media-card img {
    text-align: right;
    justify-content: center;
  }

  .past-client-card {
    flex-direction: column;
  }

  .client-about {
    padding-left: 0rem;
    padding-top: 0.5rem;
  }

  .data-vis-grid {
    text-align: center;
  }

  .blog-card h2 {
    margin-left: 0rem;
  }
}

/* 3.3 PHOTO GRID */

@media (max-width: 400px) {
  .photos {
    column-count: 1;
  }
}
