/* TABLE OF CONTENTS

    1. Visualizations
        1.1 General
        1.2 Bar Chart
        1.3 Line Chart
        1.4 Bubble Graph

    2. RESEPONSIVE DESIGN
        2.1 TABLET
        2.2 MOBILE
*/

/* --------------------
    1. Visualizations 
   -------------------- */

/* 1.1 General */

.svg-container {
  text-align: center;
  margin-bottom: 0rem;
}

.svg-bar-graph,
.svg-line-graph,
.svg-bubble-graph {
  width: 80%;
  height: 100%;
  margin: 0.5rem 1rem;
  border: 0.11rem solid rgb(87, 87, 87);
  box-shadow: 0.01rem 0.01rem 1rem 0.01rem rgba(219, 219, 219, 0.582);
}

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap");
text {
  font-family: "Poppins", "arial", "sans-serif";
}

.tick text {
  fill: rgb(78, 76, 74);
  font-size: 0.9rem;
}

.tick line {
  color: rgb(214, 212, 208);
}

.axis-lab {
  fill: rgb(41, 40, 39);
  font-size: 1.15rem;
}

/* 1.2 Bar Chart */

rect {
  fill: rgba(233, 81, 81, 0.925);
}

/* 1.3 Line Chart */

circle {
  fill: rgb(218, 67, 67);
}

.line {
  stroke: rgb(218, 67, 67);
  stroke-width: 0.25rem;
  fill: none;
}

/* 1.4 Bubble Graph */

.tooltip img {
  max-width: 7rem;
  max-height: 100%;
  height: 100%;
  margin: auto;
  padding-right: 1rem;
  align-items: center;
  justify-content: center;
}

.name {
  fill: rgb(255, 255, 255);
}

.tooltip {
  position: absolute;
  visibility: hidden;
  background-color: rgb(235, 235, 235);
  display: flexbox;
  font-family: sans-serif;
  min-width: 30rem;
  max-width: 30rem;
  align-items: center;
  justify-items: center;

  border-radius: 1%;
  border: 0.11rem solid rgba(197, 197, 197, 0.808);

  box-shadow: 0.01rem 0.01rem 0.5rem -0.1rem rgba(158, 158, 158, 0.637);
}

.tooltip section {
  padding: 10px;
}

.tooltip header {
  display: inline-flex;
  padding: 1rem;
}

.tooltip header h2 {
  display: inline-flex;
  size: 1rem;
  align-items: center;
  justify-content: center;
  margin: 0rem;
  height: auto;

  font-size: 2rem;

  overflow-wrap: anywhere;
}

.company-name {
  font-size: 10rem;
}

.breach-info {
  display: inline-flex;
  flex-direction: column;
}

.breach-info p {
  margin: 0rem;
  stroke: 0rem;
  padding-top: 0.1rem;
}

.tooltip-breach-year,
.tooltip-breach-amount,
.tooltip-breach-description {
  font-weight: normal;
}

.tooltip-title {
  font-weight: bold;
}

/* 1.5 Data Art */

.timer1 {
  display: inline-flex;
  justify-content: center;
  align-self: center;
  align-content: center;
  align-items: center;
  text-align: center;

  font-size: 3rem;
  padding: 0rem 0.5rem;

  min-width: auto;
}

.data-art,
.data-art-no-breach,
.data-art-email {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-direction: column;

  width: 90%;
  max-height: 18.75rem;

  padding: 3.8rem 0rem 2rem 0rem;
  margin: 2rem 0rem;

  border: 0.11rem solid rgb(87, 87, 87);
  box-shadow: 0.01rem 0.01rem 1rem 0.01rem rgba(219, 219, 219, 0.582);
}

.data-art,
.data-art-no-breach {
  display: none;
}

input {
  margin: 1rem;
  border-radius: 0rem;
  border: 0.11rem solid rgb(0, 0, 0);
  width: 10rem;
}

.timer1 section {
  padding: 0rem 1rem;
}

.timer1 {
  margin-bottom: 3rem;
}

.time-days,
.time-hours,
.time-minutes,
.time-seconds {
  padding: 0rem 1rem;
  margin-bottom: 0rem;
  font-size: 4rem;
  margin-top: 2.5rem;

  color: #fd3826;
}

.data-art-no-breach h2 {
  color: green;
}

.timer-sub {
  padding: 0rem;
  text-align: center;
  margin: 0.5rem;
}

.data-art-title {
  margin-top: auto;
  bottom: 0;
}

.data-art-sub,
.data-art-sub-no-breach {
  margin: 0rem;

  font-size: 1.35rem;
  font-weight: normal;

  text-align: center;
}

.data-art h2,
.data-art-email h2 {
  font-size: 1.5rem;
  font-weight: normal;

  margin-bottom: 0.2rem;

  text-align: center;
}

/* ------------------------
    2. Responsive Design 
   ------------------------ */

/* 2.1 TABLET - iPad used as reference */

@media only screen and (max-width: 1024px) {
  .svg-bar-graph,
  .svg-line-graph,
  .svg-bubble-graph {
    width: 90%;
    margin: 0.5rem 0rem;
  }

  .tick text {
    font-size: 1rem;
  }
  .axis-lab {
    fill: rgb(63, 62, 60);
    font-size: 1.25rem;
  }

  .tooltip {
    min-width: 20rem;
    max-width: 20rem;
  }

  .tooltip header h2 {
    size: 1rem;

    font-size: 1.8rem;
  }

  .tooltip p {
    font-size: 1rem;
  }
}

/* 2.2 MOBILE - iPhone X and Pixel 2 XL used as reference */

@media only screen and (max-width: 765px) {
  .svg-bar-graph,
  .svg-line-graph,
  .svg-bubble-graph {
    width: 95%;
  }

  .tick text {
    font-size: 1.1rem;
  }
  .axis-lab {
    fill: rgb(63, 62, 60);
    font-size: 1.3rem;
  }

  .tooltip {
    top: 0rem;
    left: 0rem;
  }

  .time-days,
  .time-hours,
  .time-minutes,
  .time-seconds {
    padding: 0rem 0rem;
    padding-bottom: 0rem;
    margin-bottom: 0rem;

    font-size: 1.3rem;

    margin-top: 2.5rem;
  }

  .timer1 {
    font-size: 1rem;
    padding: 0rem 0.5rem;

    min-width: auto;
  }

  .timer1 section {
    padding: 0rem 0rem;
    font-size: 0.1rem;
  }

  .data-art h2,
  .data-art-email h2 {
    font-size: 1.3rem;

    padding-top: 0rem;
  }

  .data-art-sub,
  .data-art-sub-no-breach {
    font-size: 1.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
