/* TABLE OF CONTENTS

    1. GLOBAL STYLING - Desktop First
    2. TYPOGRAPHY
    3. NAV BARS & FOOTER
      3.1 MAIN NAVIGATION BAR
      3.2 MAIN FOOTER
      3.3 BLOG NAVIGATION BAR
    4. BANNER
    5. BUTTONS
    6. PAGE SPECIFIC STYLING
      6.1 STANDARD PAGE LAYOUT
      6.2 ABOUT ME PAGE
    7. BACK TO TOP LINK
    8. RESEPONSIVE DESIGN
      8.1 TABLET
      8.2 MOBILE
*/

/* ----------------------------------
  1. Global Styling - Desktop First
   ---------------------------------- */

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap");
body {
  font-family: "Poppins", "arial", "sans-serif";
  margin: 0rem;
  width: 100%;
  min-height: 100vh;
  text-align: center;

  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  box-sizing: border-box;
}

html {
  scroll-padding-top: 5rem;
  min-height: 100%;
  scroll-behavior: smooth;
}

/* --------------
   2. Typography
   -------------- */

h1 {
  font-size: 5rem;
  line-height: 6.5rem;
  font-weight: bold;

  margin: 1.2rem 3.3rem;
  padding: 0rem;

  text-align: left;
}

h2 {
  font-size: 2rem;
  margin: 1rem 2.2rem 0rem 2.2rem;
  text-align: left;
}

p,
figcaption {
  font-family: "Helvetica Light", "arial", "sans-serif";
  font-size: 1rem;

  padding-bottom: 1rem;
  padding-left: 0rem;
}

ul {
  padding: 0;
}

li {
  display: inline;
}

a {
  color: black;
  text-decoration: none;
}

/* ------------------
  3. Navigation Bars
   ------------------ */

nav a {
  padding: 0rem 2rem;
}

nav li a,
.main-footer a {
  transition: color 0.3s;
  font-weight: 500;
  padding: 1.25rem 0rem;
  margin: 0rem 1.5rem;
  position: relative;
}

nav li a::before,
.main-footer a::before {
  transition: 0.3s ease;
  height: 0.15rem;
  content: "";
  position: absolute;
  background-color: rgb(95, 95, 95);
  width: 0%;
  bottom: 0.8rem;
}

nav li a:hover,
.main-footer a:hover {
  color: rgb(95, 95, 95);
}

nav li a:hover::before,
.main-footer a:hover::before {
  width: 100%;
}

.nav-items {
  position: relative;
  align-items: center;
  padding: 0rem;
}

/* 3.1 MAIN NAVIGATION BAR */

.header-nav {
  z-index: 1;
  background-color: #e0e0dd;
  top: 0rem;
  border-bottom: #fdfdfd solid 0.04rem;
  position: sticky;
  box-shadow: 1rem 0.09rem 0.1rem 0.05rem #bbbbbb3a;
}

.header-nav ul {
  flex-wrap: wrap;
  display: flex;
  margin: 0rem;
}

.header-nav li {
  display: flex;
}

.logo,
.logo a {
  margin-right: auto;
  margin-left: 0rem;
  padding: 0.25rem 0.2rem 0.05rem 0.4rem;
  border: none;
}

.logo a::before {
  visibility: hidden;
}

.hamburger-button {
  background-color: transparent;
  border: 0;
  display: none;
  padding: 0rem 1rem;
  cursor: pointer;
}

/* 3.2 MAIN FOOTER */

.main-footer {
  background-color: #b8b8b8;
  margin-top: auto;
  padding: 0.1rem 0rem;
}

/* 3.3 Blog Nav */

.blogs-nav {
  display: inline-block;

  margin: 0.5rem 2.2rem;

  border-top: 0.13rem solid black;

  padding-right: 2.2rem;
}

.blogs-nav a {
  margin: 0rem;
  margin-right: 1rem;
}

/* -------------
    4. BANNER
   ------------- */

.banner-container {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 40rem;
}

.banner-image {
  text-align: left;
  filter: brightness(98%);
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-info {
  text-align: center;
  position: relative;
  color: rgb(49, 49, 49);
  margin-top: 7rem;
}

.banner-info h1 {
  text-align: center;
  margin: 1rem;
  line-height: 5.5rem;
}

/* -------------
    5. BUTTONS 
   ------------- */

.button {
  display: inline-block;
  margin: 0.7rem 0.7rem 2rem 0.7rem;
  padding: 0.7rem;
  border: 0.0625rem solid black;
  text-align: center;

  transition: all 0.3s ease;
  letter-spacing: 0rem;
  transform: scale(1);
  background-color: rgba(238, 238, 238, 0.644);

  border-radius: 0.5%;
  width: 15rem;
}

.button:hover {
  color: white;
  background-color: black;
  letter-spacing: 0.02rem;
  transform: scale(1.08);
  box-shadow: 0.25rem 0.25rem 1.9rem 0.25rem rgb(165, 165, 165);
}

/* 6.1 Hero Buttons */

.hero-buttons {
  margin: 20rem 0rem;
}

/* ---------------
  6. Page Styling
   --------------- */

/* 6.1 Background Container Elements */

.background-tone-one,
.background-tone-two {
  padding: 0rem;
  margin: 2rem 1rem;

  border-radius: 0.75%;
  box-shadow: inset 0.1rem 0.2rem 1rem -0.5rem rgb(189, 189, 189);
  background-color: #fafafa;
}

.background-tone-one {
  margin: 2rem 1rem 1rem 1rem;
}

.background-tone-two {
  margin: 1rem;
}

.border-lock {
  display: inline-flex;
  flex-direction: column;
  text-align: left;

  width: 93%;
  max-width: 70rem;
}

/* 6.2 Standard Page Elements */

.standard-page-date,
.standard-page-content,
.standard-page-footer h2 {
  margin: 1.5rem 3.3rem;
}

.standard-page-content h2 {
  margin-left: 0rem;
}

.standard-page-date {
  display: inline-block;

  border-top: 0.13rem solid black;
  padding: 1rem 2.2rem;
  margin: 0.5rem 0rem 1rem 3.3rem;
  font-size: 1.15rem;
  line-height: 1.7rem;
}

.standard-page-footer {
  margin-bottom: 1.5rem;
}

.standard-page-header h2 {
  text-align: left;
  margin-left: 3.3rem;
}

.standard-page p,
figure {
  padding-bottom: 1rem;
  padding-left: 0rem;
}

figure {
  margin-left: 0rem;
}

.standard-page-references {
  margin: 0rem 3.3rem;
  padding: 0rem;
}

.standard-page-references a {
  text-decoration: underline;
  color: blue;
}

.standard-page-references li {
  display: list-item;
  list-style: circle;
  margin-left: 1rem;
}

.blogs-nav-title {
  margin-left: 2.2rem;
}

/* ----------------------
    7. Back to Top Link 
   ---------------------- */

.back-to-top {
  z-index: 1;

  margin: 0em 1em 1em 0em;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  position: fixed;
  bottom: 0rem;
  right: 0rem;

  transition: all 0.3s ease-in-out;
  color: rgb(83, 83, 83);
  display: none;
}

.back-to-top:hover {
  bottom: 0.2rem;
  color: rgb(109, 109, 109);
}

/* ------------------------
    8. RESPONSIVE DESIGN 
   ------------------------ */

/* 8.1 TABLET - iPad used as reference */

@media only screen and (max-width: 1024px) {
  .standard-page-title {
    font-size: 4rem;
    margin-left: 2.2rem;
    line-height: 5.5rem;

    margin-bottom: 0rem;
  }

  .standard-page-date,
  .standard-page-content,
  .standard-page-footer h2 {
    margin: 1rem 2.2rem;
  }

  .standard-page-header h2 {
    margin: 0rem 2.2rem;
  }

  .standard-page-footer h2 {
    margin: 1rem 2.2rem;
  }

  .standard-page-footer figcaption {
    margin-left: 2.2rem;
  }

  .standard-page-footer figure {
    margin-left: 2.2rem;
  }

  .banner-info {
    margin-top: 1.5em;
  }

  .banner-info h1 {
    margin-top: 4.5rem;
    font-size: 4.5em;
  }

  .hero-buttons {
    margin-top: 16rem;
  }

  .border-lock {
    width: 90%;
  }
}

/* 8.2 MOBILE - iPhone X and Pixel 2 XL used as reference */

@media only screen and (max-width: 765px) {
  h1 {
    font-size: 2rem;
    line-height: 2.7rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
  }

  h2 {
    text-align: center;
  }

  .blogs-nav ul {
    margin-bottom: 0rem;
    text-align: center;
  }

  .blogs-nav {
    border-top: 0rem solid black;
  }

  .standard-page-title {
    padding-left: 0rem;
    margin-left: 1rem;
    text-align: left;
    font-size: 2.7rem;
    line-height: 3.5rem;
  }

  .standard-page-date {
    font-size: 1rem;
    margin-left: 2.2rem;
    margin-right: 2.2rem;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
    margin: 1rem;
  }

  .standard-page-content {
    margin: 1rem;
  }

  .standard-page-references {
    margin-left: 1rem;
  }

  .standard-page-footer h2 {
    text-align: left;
    margin-left: 1rem;
  }

  .banner-info h1 {
    margin-top: 2.5rem;
    font-size: 3rem;
    line-height: 4rem;
  }

  .hero-buttons {
    margin-top: 15rem;
  }

  .banner-info p {
    margin-top: 25rem;
    font-size: 1.2rem;
  }

  .background-tone-one h1 {
    margin-top: 1.5rem;
  }

  .blogs-nav-title {
    text-align: center;
    margin: 0rem;
  }

  .blogs-nav a {
    margin: 0rem;
  }

  .blog-nav-header {
    text-align: center;
  }

  .hamburger-button {
    display: block;
  }

  .nav-items a {
    display: none;
    width: 100%;
    justify-content: center;
  }

  .nav-items {
    flex-direction: column;
    width: 100%;
  }

  .standard-page-header h2 {
    line-height: 2.5rem;
    margin: 0rem 1rem;
  }

  .border-lock {
    width: 90%;
  }

  .standard-page-content h2 {
    margin-left: 0rem;
    text-align: left;
  }

  .background-tone-one h1 {
    padding-left: 0rem;
  }

  .blogs-nav {
    text-align: center;
    padding-right: 0rem;

    margin: 0rem;
  }

  .nav-items a.active {
    display: flex;
    padding: 1rem 0rem;

    border-top: 0.08rem solid rgb(204, 204, 204);
  }

  .blogs-nav {
    width: 100%;
  }

  .blog-nav-items a {
    display: inline-flex;
    width: 80%;
    justify-content: center;

    padding: 1rem 0rem;

    border-top: 0.1rem solid rgb(158, 158, 158);
    border-left: 0rem;
  }

  .blog-nav-items:last-child a {
    border-bottom: 0.1rem solid rgb(158, 158, 158);
  }

  nav li a:hover::before,
  .main-footer a:hover::before {
    width: 0%;
  }
}
