/* TABLE OF CONTENTS

    1. GLOBAL STYLING - Desktop First
    2. TYPOGRAPHY
    3. NAV BARS & FOOTER
      3.1 MAIN NAVIGATION BAR
      3.2 MAIN FOOTER
      3.3 BLOG NAVIGATION BAR
    4. BANNER
    5. BACK TO TOP LINK
    6. BUTTONS
    7. PAGE SPECIFIC STYLING
      7.1 STANDARD PAGE LAYOUT
      7.2 ABOUT ME PAGE
      7.3 MAP
    8. RESEPONSIVE DESIGN
      8.1 TABLET
      8.2 MOBILE
*/

/* ----------------------------------
  1. GLOBAL STYLING - DESKTOP FIRST
   ---------------------------------- */

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap");
body {
  font-family: "Poppins", "arial", "sans-serif";
  margin: 0rem;
  width: 100%;
  text-align: center;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  flex-direction: column;
}

html {
  scroll-padding-top: 5rem;
  min-height: 100%;
}

/* --------------
   2. Typography
   -------------- */

h1 {
  font-size: 5rem;
  font-weight: bold;

  text-align: left;
  padding-left: 2rem;
  padding-top: 1rem;
  margin-top: 0rem;
  margin-bottom: 1rem;

  line-height: 6.5rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 0rem;
  margin-left: 2.2rem;
  margin-top: 2.2rem;
  margin-right: 2.2rem;
}

#newestDataVis .button,
.blog-post-grid .button {
  text-align: center;
}

p,
figcaption {
  font-family: "Helvetica Light", "arial", "sans-serif";
}

ul {
  padding: 0;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  color: black;
}

/* -----------
  3. NAV BARS
   ----------- */

nav li a,
.main-footer a {
  transition: color 0.3s;
  font-weight: 500;
  padding: 1.25rem 0rem;
  margin: 0rem 1.5rem;
  position: relative;
}

nav li a::before,
.main-footer a::before {
  transition: 0.3s ease;
  height: 0.15rem;
  content: "";
  position: absolute;
  background-color: rgb(95, 95, 95);
  width: 0%;
  bottom: 0.8rem;
}

nav li a:hover,
.main-footer a:hover {
  color: rgb(95, 95, 95);
}

nav li a:hover::before,
.main-footer a:hover::before {
  width: 100%;
}

nav a {
  padding: 0rem 2rem 0rem 2rem;
}

/* 3.1 MAIN NAVIGATION BAR */

.header-nav {
  z-index: 1;
  top: 0rem;
  position: sticky;
  background-color: #e0e0dd;
  border-bottom: #fdfdfd solid 0.04rem;
  box-shadow: 1rem 0.09rem 0.1rem 0.05rem #bbbbbb3a;
}

.header-nav ul {
  flex-wrap: wrap;
  display: flex;
  margin: 0rem;
}

.header-nav li {
  display: flex;
}

.logo a::before {
  visibility: hidden;
}

.logo,
.logo a {
  margin-right: auto;
  margin-left: 0rem;
  padding: 0.25rem 0.2rem 0.05rem 0.4rem;
  border: none;
}

.nav-items {
  position: relative;
  align-items: center;
  padding: 0rem;
}

.hamburger-button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: none;
  padding: 0rem 1rem 0rem 1rem;
}

/* 3.2 MAIN FOOTER */

.main-footer {
  background-color: #b8b8b8;
  padding: 0.1rem 0rem 0.1rem 0rem;
  margin-top: auto;
}

/* 3.3 Blog Nav */

.blogs-nav {
  display: inline-block;

  margin-left: 2.2rem;
  margin-top: 0.5rem;
  border-top: 0.13rem solid black;

  padding-right: 2.2rem;
}

.blogs-nav a {
  margin: 0rem;
  margin-right: 1rem;
}

/* -------------
    4. BANNER
   ------------- */

.banner-container {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 40rem;
}

.banner-image {
  text-align: left;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(98%);
}

.banner-info {
  text-align: center;
  position: relative;
  color: rgb(49, 49, 49);

  margin-top: 7rem;
}

.banner-info h1 {
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  margin: 1rem 1rem 0rem 1rem;
  line-height: 5.5rem;
}

/* ----------------------
    5. BACK TO TOP LINK 
   ---------------------- */

.back-to-top-link {
  transition: all 0.3s ease-in-out;
  position: fixed;
  bottom: 0rem;
  right: 0rem;
  display: inline-flex;

  margin: 0em 1em 1em 0em;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2rem;
  color: rgb(83, 83, 83);
  z-index: 1;
}

.back-to-top-link:hover {
  color: rgb(109, 109, 109);
  bottom: 0.2rem;
}

/* -------------
    6. BUTTONS 
   ------------- */

.button {
  display: inline-block;
  margin: 0.7rem;
  margin-bottom: 2rem;
  padding: 0.7rem;
  border: 1px solid black;

  letter-spacing: 0rem;

  transform: scale(1);

  transition: all 0.3s ease;

  text-align: center;
  background-color: rgba(238, 238, 238, 0.644);

  border-radius: 0.5%;
}

.button {
  letter-spacing: 0rem;
}

.button:hover {
  color: white;
  background-color: black;
  box-shadow: 0.25rem 0.25rem 1.9rem 0.25rem rgb(165, 165, 165);
  letter-spacing: 0.02rem;
  transform: scale(1.08);
}

/* 6.1 Hero Buttons */

.hero-buttons {
  margin: 20rem 0rem;
}

/* ---------------
  7. Page Styling
   --------------- */

/* 7.1 Standard Page Elements */

.background-tone-one,
.background-tone-two {
  padding: 0rem;
  margin: 2rem 1rem;

  border-radius: 0.75%;
  box-shadow: inset 0.1rem 0.2rem 1rem -0.5rem rgb(189, 189, 189);
  background-color: #fafafa;
}

.background-tone-one {
  margin: 2rem 1rem 1rem 1rem;
}

.background-tone-two {
  margin: 1rem;
}

.border-lock {
  display: inline-flex;
  flex-direction: column;
  text-align: left;

  width: 93%;
  max-width: 70rem;
}

.standard-page-date,
.standard-page-content,
.standard-page-footer h2 {
  margin: 1.5rem 3.3rem;
}

.standard-page-date {
  display: inline-block;

  border-top: 0.13rem solid black;
  padding: 1rem 2.2rem;
  margin: 0.5rem 0rem 1rem 3.3rem;
  font-size: 1.15rem;
  line-height: 1.7rem;
}

.standard-page-footer {
  margin-bottom: 1.5rem;
}

.standard-page-references {
  margin-left: 3.3rem;
  margin-right: 3.3rem;
}

.standard-page-header h2 {
  text-align: left;
  margin-left: 2.2rem;
}

.standard-page-title {
  margin-right: 3.3rem;
  margin-left: 3.3rem;
  margin-top: 1rem;
  padding-left: 0rem;
}

.standard-page p,
figure {
  text-align: left;
  padding-bottom: 1rem;
  padding-left: 0rem;
}

figure {
  margin-left: 0rem;
}

.standard-page-footer figcaption {
  text-align: left;

  margin: 2.2rem;
  padding-bottom: 2.2rem;
}

.standard-page-references {
  padding-right: 0rem;
  padding-left: 0rem;
}

.standard-page-references a {
  text-decoration: underline;
  color: blue;
}

.standard-page-references li {
  display: list-item;
  list-style: circle;
  margin-left: 1rem;
}

/* ------------------------
    8. RESPONSIVE DESIGN 
   ------------------------ */

/* 8.1 TABLET - Based on the iPad */

@media only screen and (max-width: 1024px) {
  .standard-page-date,
  .standard-page-content,
  .standard-page-footer h2 {
    margin: 1.5rem 2.2rem;
  }

  .standard-page-title {
    margin-left: 2.2rem;
  }

  h1 {
    font-size: 4rem;
  }

  .banner-info {
    margin-top: 2em;
  }

  .banner-info h1 {
    margin-top: 4.5rem;
    font-size: 4em;
  }

  .banner-info p {
    margin-top: 20em;
    font-size: 1em;
  }

  .about-me-page {
    flex-direction: column;
  }

  .about-me-info {
    margin: 0rem;
    margin-top: -1rem;
  }

  .about-profile-picture {
    width: 70%;
    height: 70%;
  }

  .about-me-page {
    width: 70vw;
  }

  .border-lock {
    width: 90%;
  }
}

/* 8.2 MOBILE - Based on iPhone X and other popular/similair devices */

@media only screen and (max-width: 765px) {
  h1 {
    font-size: 2rem;
    line-height: 2.7rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
  }

  .standard-page-header h1 {
    font-size: 2.7rem;
  }

  .blogs-nav ul {
    margin-bottom: 0rem;
  }

  .blogs-nav {
    border-top: 0rem solid black;
  }

  .standard-page-title {
    padding-left: 0rem;
    margin-left: 1rem;
  }

  .standard-page-date {
    font-size: 1rem;
    margin-left: 2.2rem;
    margin-right: 2.2rem;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
    margin: 1rem;
  }

  .standard-page-content {
    margin: 1rem;
  }

  .standard-page-references {
    margin-left: 1rem;
  }

  .standard-page-footer h2 {
    text-align: left;
    margin-left: 1rem;
  }

  .banner-info h1 {
    margin-top: 2.5rem;
    font-size: 3rem;
    line-height: 4rem;
    margin-left: 0rem;
  }

  .hero-buttons {
    margin-top: 11rem;
  }

  .banner-info p {
    margin-top: 25rem;
    font-size: 1.2rem;
  }

  .background-tone-one h1 {
    margin-top: 1rem;
  }

  h2 {
    font-size: 2rem;
    text-align: center;
    margin: 0rem;
    margin-bottom: 0.5rem;
    margin-top: 2.2rem;
  }

  .nav-items a {
    display: none;
    width: 100%;
    justify-content: center;
  }

  .nav-items {
    flex-direction: column;
    width: 100%;
  }

  .hamburger-button {
    display: block;
  }

  .nav-items a.active {
    display: flex;
    padding: 1rem 0rem 1rem 0rem;

    border-top: 0.08rem solid rgb(204, 204, 204);
  }

  .blog-nav-items a {
    display: inline-flex;
    width: 80%;

    padding: 1rem 0rem 1rem 0rem;

    border-top: 0.08rem solid rgb(204, 204, 204);
    border-left: 0px;
  }

  .blogs-nav li:last-child {
    border-right: none;
  }

  .standard-page-header h2 {
    line-height: 2.5rem;
  }

  .about-me-page {
    width: 80vw;
  }

  .border-lock {
    width: 90%;
  }
}
