/* TABLE OF CONTENTS

    1. GLOBAL STYLING - Desktop First
    2. TYPOGRAPHY
    3. NAV BARS & FOOTER
      3.1 MAIN NAVIGATION BAR
      3.2 MAIN FOOTER
      3.3 BLOG NAVIGATION BAR
    4. BANNER
    5. BACK TO TOP LINK
    6. BUTTONS
    7. PAGE SPECIFIC STYLING
      7.1 STANDARD PAGE LAYOUT
      7.2 ABOUT ME PAGE
      7.3 MAP
    8. RESEPONSIVE DESIGN
      8.1 TABLET
      8.2 MOBILE
*/

/* ----------------------------------
  1. GLOBAL STYLING - DESKTOP FIRST
   ---------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap");
body {
  font-family: "Poppins", "arial", "sans-serif";
  margin: 0rem;
  width: 100%;
  text-align: center;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fcfcfc;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 5rem;
}

/* Typography */

h1 {
  font-size: 5rem;
  font-weight: bold;

  text-align: left;
  padding-left: 2rem;
  padding-top: 1rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 0rem;
}

p {
  font-family: "Helvetica Light", "arial", "sans-serif";
}

ul {
  padding: 0;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  color: black;
}

/* -----------
  3. NAV BARS
   ----------- */

nav li a,
.main-footer a {
  transition: color 0.3s;
  font-weight: 500;
  padding: 1.25rem 0rem;
  margin: 0rem 1.5rem;
  position: relative;
}

nav li a::before,
.main-footer a::before {
  transition: 0.3s ease;
  height: 0.15rem;
  content: "";
  position: absolute;
  background-color: rgb(95, 95, 95);
  width: 0%;
  bottom: 0.8rem;
}

nav li a:hover,
.main-footer a:hover {
  color: rgb(95, 95, 95);
}

nav li a:hover::before,
.main-footer a:hover::before {
  width: 100%;
}

nav a {
  padding: 0rem 2rem 0rem 2rem;
}

/* 3.1 MAIN NAVIGATION BAR */

.header-nav {
  z-index: 1;
  top: 0rem;
  position: sticky;
  background-color: #ededea;
  border-bottom: #fdfdfd solid 0.02rem;
  box-shadow: 0 0.05rem 0.05rem 0.05rem #fdfdfd3a;
}

.header-nav ul {
  flex-wrap: wrap;
  display: flex;
  margin: 0rem;
}

.header-nav li {
  display: flex;
}

.logo a::before {
  visibility: hidden;
}

.logo,
.logo a {
  margin-right: auto;
  margin-left: 0rem;
  padding: 0.25rem 0.2rem 0.05rem 0.4rem;
  border: none;
}

.nav-items {
  position: relative;
  align-items: center;
  padding: 0rem;
}

.hamburger-button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: none;
  padding: 0rem 1rem 0rem 1rem;
}

/* 3.2 MAIN FOOTER */

.main-footer {
  background-color: #cfcfcf;
  padding: 0.1rem 0rem 0.1rem 0rem;
}

/* -------------
    4. BANNER
   ------------- */

.banner-container {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 40rem;
}

.banner-image {
  text-align: left;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(98%);
}

.banner-info {
  text-align: center;
  position: relative;
  color: rgb(49, 49, 49);

  margin-top: 7rem;
}

.banner-info h1 {
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  margin: 1rem 1rem 0rem 1rem;
  line-height: 5.5rem;
}

/* ----------------------
    5. BACK TO TOP LINK 
   ---------------------- */

.back-to-top-link {
  transition: all 0.3s ease-in-out;
  position: fixed;
  bottom: 0rem;
  right: 0rem;
  display: inline-flex;

  margin: 0em 1em 1em 0em;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2rem;
  color: rgb(83, 83, 83);
  z-index: 1;
}

.back-to-top-link:hover {
  color: rgb(109, 109, 109);
  bottom: 0.2rem;
}

/* -------------
    6. BUTTONS 
   ------------- */

.button {
  display: inline-block;
  margin: 0.7rem;
  margin-bottom: 2rem;
  padding: 0.7rem;
  border: 1px solid black;

  letter-spacing: 0rem;

  transform: scale(1);

  transition: all 0.3s ease;

  text-align: center;
  background-color: rgba(238, 238, 238, 0.644);

  border-radius: 0.5%;
}

.button {
  letter-spacing: 0rem;
}

.button:hover {
  color: white;
  background-color: black;
  box-shadow: 0.25rem 0.25rem 1.9rem 0.25rem rgb(165, 165, 165);
  letter-spacing: 0.02rem;
  transform: scale(1.08);
}

/* 6.1 Hero Buttons */

.hero-buttons {
  margin: 20rem 0rem;
}

/* Page Layouts*/

.background-tone-one,
.background-tone-two {
  padding: 0rem;
  margin: 1rem;

  border-radius: 0.5%;
  box-shadow: 0rem 0rem 1rem -0.5rem rgb(189, 189, 189);
}

.background-tone-one {
  background-color: #f1f1f1;
}

.background-tone-two {
  background-color: #eeeeee;
}
